<div class="dynamic-field form-passwordconfirm" [ngClass]="config.classes?.wrapper" [formGroup]="group">
  <div [formGroup]="passwordGroup">

    <ng-template ngFor let-control [ngForOf]="config.controls">
      <div class="form-input" [ngClass]="control.classes?.wrapper">
        <label [ngClass]="control.classes?.label">{{control.label}}</label>
        <div [ngClass]="control.classes?.inner">
          <input
            type="password"
            [ngClass]="control.classes?.control"
            [formControl]="pwGroup[control.name]"
            [attr.disabled]="control.disabled"
          />
        </div>
      </div>
    </ng-template>
  </div>

  <!-- <ng-container
    *ngFor="let control of config.controls;"
    dynamicField
    [config]="control"
    [group]="group">
  </ng-container> -->
</div>
